body {
    margin: 0;
    background-color: #111;
    color: #fff;
}

a {
    color: #4e9af1;
    text-decoration: none;
}

.agency-content {
    padding: 20px;
    font-family: Outfit, sans-serif;
}

.agency-header {
    position: relative;
    background: linear-gradient(-60deg, rgba(90, 222, 231, 0.3), rgba(150, 0, 250, 0.3));
    border-radius: 20px;
}

.agency-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 20px;
    padding-right: 0;
    position: relative;
    z-index: 1;
}

.agency-header-content {
    text-align: left;
    margin-left: 20px;
}

.agency-header-title {
    font-size: 70px;
    font-weight: 800;
    margin: 0;
}

.agency-header-text {
    font-size: 17px;
    margin: 20px 0;
}

.agency-header img {
    width: 717.36px;
}

.agency-header-cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4e9af1;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.agency-services {
    text-align: center;
    padding: 50px 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agency-services-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.agency-services-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.agency-services-item {
    width: 369px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
}

.agency-services-item i {
    font-size: 37.13px;
    background: linear-gradient(-60deg, rgba(90, 222, 231, 1), rgba(150, 0, 250, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.agency-services-item-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.agency-services-item-text {
    font-size: 16px;
    margin: 10px 0;
}

.agency-portfolio {
    text-align: center;
    padding: 50px 20px;
}

.agency-portfolio-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
}

.agency-portfolio-carrousel-title {
    position: relative;
}


.carrousel-handlers {
    position: absolute;
    right: 0;
    top: 15px;
    color: black;
}

.carrousel-handlers i {
    padding: 5px 7px;
    background-color: white;
    border-radius: 25px;
    margin: 5px;
    padding: 5px 7px;

}

.agency-portfolio-card {
    width: 380px;
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: left;
    color: #111;
}

.agency-portfolio-card img {
    max-height: 160px;
    background-color: linear-gradient(-60deg, rgba(90, 222, 231, 1), rgba(150, 0, 250, 1));
}

.agency-portfolio-card-title {
    font-size: 24px;
    font-weight: bold;
}

.agency-portfolio-card-text {
    font-size: 16px;
    margin: 10px 0;
}

.agency-portfolio-card-link {
    font-size: 16px;
    color: #4e9af1;
}

.agency-portfolio-box {
    display: flex;
    justify-content: center;
}

.agency-quality {
    display: flex;
    text-align: center;
    padding: 50px 20px;
    align-items: center;
    justify-content: center
}

.agency-quality-title {
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 800px;
    margin-top: 10px;

}

.agency-quality-item {
    margin-bottom: 15px;
}


.agency-quality-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.agency-quality-box {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agency-quality-box h3 {
    font-weight: 400;
}

.agency-quality-box i {
    margin-right: 10px;
}




.agency-expert {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.agency-expert-title{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

.agency-expert-item-title{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}

.agency-expert-stats {
    margin-top: 20px;
    display: flex;
}

.agency-expert-stats h4{
    font-weight: 800px;
    font-size: 35px;
}

.agency-expert-stat{
    margin-right: 30px;
}

.agency-expert-content{
    display: flex;
    width: 80%;
    justify-content: space-around; 
}

.agency-expert-item {
    width: 500px;
}



.agency-contact {
    text-align: center;
    background: linear-gradient(-60deg, rgba(90, 222, 231, 0.3), rgba(150, 0, 250, 0.3));
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    gap: 198px;
    align-items: center;
    border-radius: 16.68px;
    margin-top: 20px;
    justify-content: space-between
}

.agency-contact-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.agency-contact-text {
    font-size: 16px;
}

.agency-contact-content{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}