.contact-form {
  width: 100%;  
  display: flex;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
}

.contact-input {
  flex: 1;
  padding: 12.56px;
  border-radius: 17.59px;
  margin-right: -30px;
  font-size: 12.56px;
  width: 70%;
  font-family: Outfit, sans-serif;
  max-width: 400px;

}

.contact-button {
  padding: 12.56px 20px;
  background-color: #64748B;
  color: #fff;
  border: none;
  border-radius: 17.59px;
  cursor: pointer;
  font-family: Outfit, sans-serif;

}

.contact-toggle {
  display: block;
  color: #64748B;
  cursor: pointer;
  text-align: left;
  font-size: 10.97px;
  font-family: Outfit, sans-serif;
  margin-left: 5%;
}

.contact-toggle i {
  margin-left: 10px;
}

.contact-toggle:hover {
  text-decoration: underline;
}
