.popup {
  display: flex;
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #030014;
  z-index: 10;
  justify-content: center;
}

.popup-wallet-main-img {
  height: 28px;
  width: 165px;
}

.seperation-connection-way {
  gap: 15px;
}

.seperation-connection-way hr {
  width: 45%;
  height: 0;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 80px;
  gap: 25px;
  border-radius: 10px;
}

.wallet-carousel-container {
  width: 300px; /* Adjust as needed */
  height: 600px; /* Adjust as needed */
  position: relative;
}

.wallet-carousel {
  display: flex;
  flex-direction: column;
  transition: transform 1s ease;
  gap: 25px;
}

.wallet-carousel-image {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
}

.wallet-carousel-image.inactive {
  opacity: 0.5; /* Darken non-selected images */
}

.wallet-carousel-image.active {
  opacity: 1;
}

.carousel-indicators {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255, 0.27);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease, height 1s ease, border-radius 1s ease;
}

.indicator.active {
  background-color: #FFFFFF;
  height: 50px;
  border-radius: 800px;
}

.wallet-btn {
  color: #f4f0ff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.645px; /* 172.779% */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 60px;
  width: 100%;
  gap: 35px;
  border-radius: 11.058px;
  border: 1.382px solid #4d2f8c;
  background: linear-gradient(180deg, rgba(60, 8, 126, 0.00) 0%, rgba(60, 8, 126, 0.32) 100%), rgba(113, 47, 255, 0.12);
  box-shadow: 0px 0px 16.587px 0px rgba(191, 151, 255, 0.24) inset;
}

.wallet-btn:hover {
  background: linear-gradient(180deg, rgba(60, 8, 126, 0.00) 0%, rgb(118 79 167 / 32%) 100%), rgba(113, 47, 255, 0.12);
  transition: 0.3s ease;
  cursor: pointer;
}

.wallet-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.wallet-btn img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.wallet-hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .popup-content {
    scale: 0.9;
  }
  .wallet-btn {
    font-size: 18px;
  }
  .wallet-btn img {
    max-width: 35px;
  }
  .popup-more-btn {
    font-size: 14px;
  }
  .popup h2 {
    font-size: 27px;
  }
}

@media screen and (max-width: 410px) {
  .popup-content {
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    top: auto;
    border-radius: 15px 15px 0 0;
    gap: 15px;
    padding: 25px 15px;
  }

  .wallet-btn {
    font-size: 15px;
  }
  .wallet-btn img {
    max-width: 25px;
  }

  .popup h2 {
    font-size: 20px;
  }
  .popup-wallet-main-img {
    max-width: 55px;
  }
}