.popup {
  display: flex;
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #030014;
  z-index: 10;
  justify-content: center;
}


.popup-wallet-main-img {
  height: 28px;
  width: 165px;
  position: absolute;
  top: 5%;

}

.seperation-connection-way {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2vh;
}

.seperation-connection-way hr {
  width: 45%;
  height: 0;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  margin-right: 8vw;
  margin-left: -8vw;
  width: 40%;
}

.wallet-carousel-container {
  width: 300px;
  /* Adjust as needed */
  height: 600px;
  /* Adjust as needed */
}

.wallet-carousel {
  display: flex;
  flex-direction: column;
  transition: transform 1s ease;
  gap: 25px;

}

.wallet-carousel-image {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;

}

.wallet-carousel-image.inactive {
  opacity: 0.5;
  /* Darken non-selected images */
}

.wallet-carousel-image.active {
  opacity: 1;
}

.carousel-indicators {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease, height 1s ease, border-radius 1s ease;
}

.indicator.active {
  background-color: #FFFFFF;
  height: 50px;
  border-radius: 800px;
}

.wallet-btn {
  color: #f4f0ff;
  justify-content: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.645px;
  margin-bottom: 2vh;

  /* 172.779% */
  display: flex;
  align-items: center;
  padding: 8px 60px;
  width: 100%;
  gap: 35px;
  border-radius: 11.058px;
  border: 1.382px solid #4d2f8c;
  background: linear-gradient(180deg, rgba(60, 8, 126, 0.00) 0%, rgba(60, 8, 126, 0.32) 100%), rgba(113, 47, 255, 0.12);
  box-shadow: 0px 0px 16.587px 0px rgba(191, 151, 255, 0.24) inset;
}

.wallet-btn:disabled {
  background: grey;
  cursor: not-allowed;
  border: none;
}

.password-toggle-icon {
  position: relative;
  top: -45px;
  left: 95%;
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}



.error-message {
  color: red;
  font-size: 14px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.wallet-btn:hover {
  background: linear-gradient(180deg, rgba(60, 8, 126, 0.00) 0%, rgb(118 79 167 / 32%) 100%), rgba(113, 47, 255, 0.12);
  transition: 0.3s ease;
  cursor: pointer;
}

.wallet-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.wallet-btn img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.wallet-hide {
  display: none;
}


.forgot-password{
  margin-bottom: 3vh;
  
  color: #ACB3B9;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: -0.64px;
  text-decoration-line: underline;
}

.forgot-password a:hover {
  text-decoration: none;
}

.popup input {
  color: white;

  display: flex;
  height: 44px;
  padding: 11px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  background: #1A1D21;
  margin-top: 10px;
  margin-bottom: 10px;

}


.popup h1 {
  color: #F4F0FF;
  margin-bottom: 2vh;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 125% */
  letter-spacing: -0.64px;
}

.Sign-in-header p {
  color: #ACB3B9;
  margin-bottom: 2vh;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: -0.64px;
}

.terms-links {
  color: #ACB3B9;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: -0.64px;
}

.terms-links a:hover {
  cursor: pointer;
  color: #f6f0ffc0; 
}

.terms-links a {
  color: #F4F0FF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.64px;
  text-decoration-line: underline;
}



.forgot-password-method p{
  color: #ACB3B9;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.64px;
}

.verification-code-input {
  text-align: center;
}

.verification-code-input h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.verification-code-input p {
  font-size: 14px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.code-input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.code-input {
  background-color: transparent;
  width: 63px;
  height: 72px;
  font-size: 24px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #FFF;
}

.sign-in-redirect{
  color: #ACB3B9;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.64px;
  margin-bottom: 3vh;
}
.sign-in-redirect a {
  color: #F4F0FF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.64px;
  text-decoration-line: underline;
}

.resend-code{
  cursor: pointer;
  color: #ACB3B9;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.64px;
  padding-bottom: 2vh;
}

@media screen and (max-width: 600px) {
  .popup-content {
    scale: 0.9;
  }

  .wallet-btn {
    font-size: 18px;
  }

  .wallet-btn img {
    max-width: 35px;
  }

  .popup-more-btn {
    font-size: 14px;
  }

  .popup h2 {
    font-size: 27px;
  }
}

@media screen and (max-width: 410px) {
  .popup-content {
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    top: auto;
    border-radius: 15px 15px 0 0;
    gap: 15px;
    padding: 25px 15px;
  }

  .wallet-btn {
    font-size: 15px;
  }

  .wallet-btn img {
    max-width: 25px;
  }

  .popup h2 {
    font-size: 20px;
  }

  .popup-wallet-main-img {
    max-width: 55px;
  }
}