@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --header-border-color: #151934;
  --header-link-color: #8f9bb7;
  --herojoinUs-background-color: #7214ff;
  --header-background-color: #200627;
  --header-background-image: none;
  --header-text-color: #000000;
  --header-title-color: #7214ff;
  --heroTitle-background-color: #ffffff; /* Default background color */
  --heroDescription-background-color: #ffffff; /* Default background color */

}

.sss-product-hero {
  background-color: var(--header-background-color) !important;
  background-image: var(--header-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 70px;
}

.sss-product-hero-title {
  text-align: center;
  font-family: Outfit;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 2px 4px;
  border-radius: 3px;
  color: var(--header-title-color);
  background-color: var(--heroTitle-background-color);
}

.sss-product-hero-text {
  color: var(--header-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  max-width: 800px;
  background-color: var(--heroDescription-background-color);
}

.sss-product-hero-cta {
  border-radius: 36px;
  background: var(--herojoinUs-background-color);
  color: var(--header-link-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.sss-product-hero-img {
  max-width: 800px;
  width: 80%;
}

/* Mobile styles */
@container (max-width: 767px) {
  .sss-product-hero {
    gap: 20px;
    padding: 5%;
  }

  .sss-product-hero-title {
    font-size: 35px;
  }

  .sss-product-hero-text {
    font-size: 15px;
  }
}

/* Border styles for selected or focused hero title */
.sss-product-hero-title.selected,
.sss-product-hero-title:focus-within {
  border-color: var(--header-border-color);
}

.join-us-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Editable text styles */
.editable-text-span {
  display: inline-block;
  padding: 5px;
  background-color: var(--editable-text-background-color);
}

.editable-text-area {
  width: 100%;
  min-height: 30px;
  border: none;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: var(--editable-text-background-color);
}

.editable-text-area:focus {
  outline: none;
}

.error {
  border-color: red;
}
