@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");


  .sss-product-hero {
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 70px;
}
  .sss-product-hero-title {
    color: #f6f6f7;
    text-align: center;
    font-family: Outfit;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
  }
  .sss-product-hero-text {
    color: var(--Neutral-gray-300, var(--navbar-link-color));
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    max-width: 800px;
  }
  .sss-product-hero-cta {
    border-radius: 36px;
    background: var(--navbar-cta-background-color);
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .sss-product-hero-img {
    max-width: 800px;
    width: 80%;
  }
  
  /* Pour les mobiles */
  @media (max-width: 767px) {
    .sss-product-hero {
      gap: 20px;
      padding: 5%;
    }
    .sss-product-hero-title {
      font-size: 35px;
    }
    .sss-product-hero-text {
      font-size: 15px;
    }
  }
  