@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --header-border-color: #151934;
  --header-link-color: #8f9bb7;
  --header-cta-background-color: #7214ff;
  --header-background-color: #200627;
  /* Add this for header background color */
  --header-background-image: ;
  
}


.sss-product-hero {
  background-color: var(--header-background-color);
  /* Use the new variable here */
  background-image: var(--header-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 70px;
}

.sss-product-hero-title {
  color: #f6f6f7;
  text-align: center;
  font-family: Outfit;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  border: 2px solid transparent;
  /* set default border to transparent */
  padding: 2px 4px;
  border-radius: 3px;
}

.sss-product-hero-text {
  color: var(--Neutral-gray-300, var(--navbar-link-color));
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  max-width: 800px;
}

.sss-product-hero-cta {
  border-radius: 36px;
  background: var(--header-cta-background-color); /* Ensure correct variable is used */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}


.sss-product-hero-img {
  max-width: 800px;
  width: 80%;
}

/* Pour les mobiles */
@container (max-width: 767px) {
  .sss-product-hero {
    gap: 20px;
    padding: 5%;
  }

  .sss-product-hero-title {
    font-size: 35px;
  }

  .sss-product-hero-text {
    font-size: 15px;
  }
}

/* define border styles for when the hero title is selected or focused */
.sss-product-hero-title.selected,
.sss-product-hero-title:focus-within {
  border-color: var(--navbar-border-color);
  /* use the same color variable as the navbar */
}

.join-us-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
}