@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {    

    /*========== Color ==========*/

    --purple: #9600FA;
    --black: #06050A;
    --green: #58D7AD;
    --white: #f9f9f9;
    --deep-purple: #421660;
    --body-purple: #131313;

    
    /*========== Font family ==========*/
    --inter: 'Inter', sans-serif;
    --montserrat: 'Montserrat', sans-serif;

}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1,h2, h3, h4 {
    font-family: var(--montserrat);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
input:focus{
    outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


body {
  background-color: var(--body-purple);
overflow-x: hidden;
}

.section {
    padding: 80px 10%;
}
.section-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  max-width: 500px;
}
.section__text {
  color: #797979;
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.section-label {
  display: inline-flex;
  padding: 15px 30px;
  color: var(--white);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  border-radius: 28px;
  background: var(--purple);
}
.purple-btn {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 28px;
  background: var(--purple);
  border: none;
}
.purple-light-btn {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 28px;
  background: rgba(150, 0, 250, 0.40);
  gap: 10px;
  border: none;
}
.cta-icon {
  width: 27px;
}


@media only screen and (max-width: 850px) {
    .section {
        padding: 40px 5%;
    }
    .section__text {
      text-align: center;
      font-size: 16px;
    }
    .section-label,
    .purple-btn,
    .purple-light-btn {
      font-size: 16px;
    }
    .section-title {
      font-size: 5vw;
    }
}



/*==================== NAV ====================*/
.navbar__pc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__right {
  display: flex;
  gap: 20px;
}
.navbar__padding {
    padding: 18px 8%;
}
.nav__logo a {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items:center ;

}
.nav__logo img {
    width: 70%;
}
ul.nav__links  {
    display: flex;
    align-items: center;
    gap: 25px;
    
}
.nav-bg {
  padding: 15px 30px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.1);
}

ul.nav__links  li a {
    color: #FFF;
    text-align: center;
    font-family: var(--montserrat);
    font-size: 14px;
    font-weight: 500;
}

ul.nav__links  li.nav__logo {
    font-size: 24px;
    font-weight: 200;

}
.nav__links-btn:hover {
    border-bottom: 1px solid var(--white);
    padding-bottom: 5px;
    transition: 0.3s ease;
}
.nav__cta {
    color: var(--white);
    font-family: var(--montserrat);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.nav__cta:hover {
    color: var(--deep-purple);
    background-color: var(--white);
    transition: 0.3s ease;
}
.sticky-navbar {
    background-color: var(--body-purple);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: 0.3s ease;
    padding: 10px 8%;
    
}
.sticky-navbar .nav__cta,
.sticky-navbar .nav__links {
    scale: 0.85;
}
.menu__mobile {
    display: none;
}

/*====mobile====*/

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 850px) {
.navbar__mobile {
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  .navbar__mobile-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav__logo a {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items:center ;

}

ul.nav__links  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
li.nav__logo {
    list-style: none;
}

.nav__logo a,
ul.nav__links  li a {
    color: #FFF;
    text-align: center;
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 500;
}

ul.nav__links  li.nav__logo {
    font-size: 24px;
    font-weight: 200;

}


  a img.navbar__mobile-logo {
    max-width: 35px;

  }
  .navbar__mobile-menuIcon {
    width: 20px;
    transition: transform 0.3s ease;
  }
  .navbar__mobile-menuIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
  .navbar__mobile-content {
   left: -150%;
    transition: left 0.3s ease;
    background: var(--body-purple);
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding-top: 30%;
    z-index: 1000;
  }
  
  .navbar__mobile-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .navbar__mobile-content ul li a.nav__menu-mobile-links {
    font-family: var(--montserrat);
    font-weight: var(--font-bold);
    font-size: var(--normal-font-size);
    color: var(--black);
  }
  .navbar__mobile-content ul li a.nav__menu-mobile-links:focus {
    color: var(--black);
  }
  
  .menu-open {
    left: -9.5%;

  }

  a img.navbar__mobile-logo {
    width: 99px;
  }


    .navbar__pc {
      display: none;
    }
    .navbar__mobile-logo {
      max-height: 70px;
    }

    .navbar__mobile-head {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
  }
  
  @media screen and (min-width: 851px) {
    .navbar__mobile {
      display: none;
    }
  }

  .no-scroll {
    overflow: hidden; /* Empêche le scrolling */
    height: 100%; /* Fixe la hauteur à 100% de l'écran */
}

@media only screen and (max-width: 1150px) {
  .navbar__right {
    gap: 10px;
  }
  .nav-bg {
    padding: 10px 20px;
  }
  ul.nav__links li a,
  .nav__cta {
    font-size: 12px;
  }
  .nav__cta .material-symbols-outlined {
    font-size: 19px;
  }
  .sticky-navbar .nav__cta,
  .sticky-navbar .nav__links {
    scale: 1;
  }
}


/*==================== HEADER ====================*/

.header {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  z-index: 10;
}
.header__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header h1 {
  color: var(--white);
  font-family: Montserrat;
  font-size: 4vw;
  font-weight: 800;
}
.header__right {
  width: 50%;
}
.header__cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-top: 40px;
}
.header-bg {
  position: absolute;
  top: -60px;
  right: -10px;
  z-index: -1;
  width: 70%;
  
}
.header-deco {
  position: absolute;
  width: 100vw;
  z-index: -2;
  top: 50px;
}


@media screen and (max-width: 850px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header h1 {
    font-size: 6vw;
    text-align: center;
  }
  .header__cta {
    justify-content: center;
  }
  .header-deco {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header__cta {
    flex-direction: column;
    align-items: center;
  }
  .header__right {
  width: 80%;
  }
}


/*==================== POPUP WALLET ====================*/

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 26px;
  align-items: center;
  gap: 25px;
  border-radius: 26px;
  background: #171717;
  box-shadow: 0px 2.6px 26px -1.3px rgba(150, 0, 250, 0.50);
}

.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 15px;
  cursor: pointer;
}
.popup h2 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}
.wallet-btn {
  color: #FFF;
  text-align: center;
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  border-radius: 15px;
  border: 1.3px solid #444;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  gap: 15px;
  position: relative;
}
.wallet-btn img {
  position: absolute;
  left: 25px;
}

.wallet-btn:hover {
  background: rgba(255, 255, 255, 0.10);
  cursor: pointer;
}

.wallet-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.wallet-hide {
  display: none;
}
.popup-more-btn {
  color: var(--white);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .popup-content {
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    top: auto;
    box-shadow: 0 -4px 26px -1.3px rgba(150, 0, 250, 0.50);
    border-radius: 15px 15px 0 0;
    gap: 15px;
  }
  .wallet-list {
    scale: 0.9;
  }
  .wallet-btn {
    font-size: 15px;
  }
  .wallet-btn img {
    max-width: 30px;
  }
  .popup-more-btn {
    font-size: 14px;
  }
  .popup h2 {
    font-size: 27px;
  }
}

/*==================== SOLUTIONS ====================*/
.solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}
.solutions-row {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.solutions-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.10);
  width: 30%;
  padding: 2%;
  align-items: center;
}
.solutions-img-box {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solutions-img {
width: 90%;
}
.solutions-card-title {
  color: var(--white, #FFF);
  text-align: center;
  font-family:  var(--montserrat);
  font-size: 1.65vw;
  font-style: normal;
  font-weight: 700;
}
.solutions-card-text {
  color: var(--white);
  text-align: center;
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 850px) {
.solutions-row {
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.solutions-card {
  width: 85%;
  padding: 15px;
}
.solutions-card-title {
  font-size: 18px;
}
.solutions-card-text {
  font-size: 15px;
}
}


/*==================== HOW IT WORK ====================*/
.functionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.functionnement-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 25px;
}
.tab {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 30px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.10);
  color: var(--white, #FFF);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 33px */
}

.tab button:hover {
  background: var(--purple, #9600FA);}

.tab button.active {
  background: var(--purple, #9600FA);}

.tabcontent {
  display: none;
  padding: 20px 50px;
}
.tabcontent-content {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 25px;
}
.tabcontent-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
  width: 45%;
}
.tabcontent-left h3 {
  color: var(--white, #FFF);
  font-family: var(--montserrat);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 44px */
}
.tabcontent-left p {
  color: #797979;
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.4%; /* 34.628px */
}
.tabcontent-content img {
  max-width: 30%;
}
@media screen and (max-width: 850px) {
  .tabcontent-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tablinks span {
    display: none;
  }
  .tabcontent-left {
    align-items: center;
    width: 100%;
  }
  .tabcontent-content img {
    max-width: 70%;
  }
  .tabcontent-left h3,
  .tabcontent-left p {
    text-align: center;
  }
}


/*==================== ROADMAP ====================*/
.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.roadmap-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 25px;
}
.roadmap-content-row {
  display: flex;
  gap: 15px;
  align-items: end;
}
.roadmap-dot {
  border-radius: 12px;
  border: 4px solid var(--purple, #9600FA);
  background: #ECEEF0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.roadmap-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.roadmap-label {
  color: #FFF;
  font-family: var(--inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.8px; /* 140% */
  border-radius: 8px;
  background: var(--purple, #9600FA);
  padding: 4px 8px;
}
.roadmap-feature {
  color: #E2E0FE;
  font-family: var(--inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}
.roadmap-separator {
  width: 4px;
  height: 800px;
  border: 2px solid var(--purple, #9600FA);
  background: #ECEEF0;
  position: absolute;
  z-index: -1;
  left: 10px;
  top: 80px;
  border-radius: 4px;
}
@media screen and (max-width: 450px) {
  .roadmap-content {
    scale: 0.8;
    padding-top: 0px;
  }
  .roadmap-feature {
    font-size: 20px;
  }
  .roadmap {
    padding-bottom: 40px;
  }
  .roadmap-separator {
    top: 69px;
  }
}
/*==================== GET IN TOUCH ====================*/
.getintouch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}
.getintouch-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../img/getintouch-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 15px;
  border-radius: 50px;
  padding: 50px;

}
.getintouch-content h2 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 3vw;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 55px */
}
.getintouch-content p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 157.4%; /* 34.628px */

}
.getintouch-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
}
.getintouch-socials a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--purple, #9600FA);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 30px;
  border-radius: 28px;
  background: #FFF;
  text-align: center;
}
.getintouch-socials a img {
  max-width: 20px;
}

@media screen and (max-width: 850px) {
  .getintouch-content h2 {
    font-size: 4vw;
  }
  .getintouch-content p {
    font-size: 16px;
  }
  .getintouch-content {
    padding: 25px;
  }
}
@media screen and (max-width: 550px) {
  .getintouch-socials {
    flex-direction: column;
  }
  .getintouch-content h2 {
    font-size: 25px;
  }
}
/*==================== FOOTER ====================*/
footer {
  background: url('../img/header-deco.png');
  background-position: center;
  background-size: cover;
}
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-column-title {
  color: #D0D3D7;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
}
.footer-column-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-column-content li {
  list-style: none;
}
.footer-column-content li a {
  color: #858F98;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.64px;
  text-decoration: none;
  
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}
.footer-credits {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer-credits img {
  width: 30%;
}
.footer-credits p {
  color: #858F98;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.64px;
}
.footer-socials {
  display: flex;
  gap: 15px;
}
.footer-deco {
  position: absolute;
  width: 100vw;
  z-index: -1;
  bottom: -180px;
}


@media screen and (max-width: 850px) {
  .footer-bottom {
    padding: 20px 5%;
  }
}
@media screen and (max-width: 650px) {

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 25px;
  }
  .footer-credits {
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .footer-column,
  .footer-column-content {
    align-items: center;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .footer-credits {
    flex-direction: column;
    align-items: center;
  }
  .footer-credits img {
    width: 60%;
  }
}


/*==================== TOOLTIP ====================*/

.tooltip {
  display: none;
  position: absolute;
  background-color: var(--white);
  color: var(--black);
  padding: 5px;
  border-radius: 5px;
  font-family: var(--inter);
  font-size: 10px;
  top: -2.5px;
  z-index: 1;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  text-align: center;
}
.coming-soon {
  position: relative;
}

.coming-soon:hover .tooltip {
  display: block;
}

/*==================== BODY DECO ====================*/

.body-deco-1 {
  position: absolute;
  max-width: 500px;
  top: -200px;
  left: -250px;
  z-index: -1;
}
.body-deco-2 {
  position: absolute;
  max-width: 350px;
  bottom: -150px;
  right: -150px;
  z-index: -1;
}
.body-deco-3 {
  position: absolute;
  max-width: 350px;
  top: -100px;
  left: -50px;
  z-index: -1;
}
.body-deco-4 {
  position: absolute;
  max-width: 350px;
  bottom: -150px;
  right: -150px;
  z-index: -1;
}

@media screen and (max-width: 850px) {
  .body-deco-1,
  .body-deco-2,
  .body-deco-3,
  .body-deco-4 {
    scale: 0.8;
  }
  .body-deco-1 {
    max-width: 450px;
    left: -280px;
  }
  .body-deco-2 {
    max-width: 300px;
    right: -180px;
    display: none;
  }
  .body-deco-3 {
    max-width: 250px;
    left: -130px;
  }
  .body-deco-4 {
    max-width: 200px;
    right: -100px;
    bottom: -30px;
    display: none;
  }

}

/*==================== BTN REPORT BUG ====================*/

.btn-report-bug {
  padding: 10px;
  border-radius: 25px;
  background: var(--purple);
  color: white;
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-report-bug:hover {
  background: var(--deep-purple);
}