.selectable-button .dot,
.selectable-button-2 .dot {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.selectable-button.selected .dot,
.selectable-button-2.selected .dot{
    background-color: blue;
}

#etape2{
display: none;
}
#etape1{
    display: block;
}