.canva-wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;

}

/* Track */
.canva-wrapper::-webkit-scrollbar-track {
    background-color: #f5f5f585;
    border-radius: 2px;
  }
  
  /* Handle */
  .canva-wrapper::-webkit-scrollbar-thumb {
    background-color: #555;
    height: 50px;
    border-radius: 2px;
    margin-left: 5px;
  }
  
  /* Handle on hover */
  .canva-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--not-selected);
  }
  
  /* The scrollbar itself */
  .canva-wrapper::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
  }