.navbar-wrapper {
    display: flex;
}
.navbar-wrapper-main {
    height: 100vh;
    width: 60px;
    background-color: var(--menu-bg);
    border-radius: 0 10px 10px 0;
    padding: 25px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.navbar-home-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.navbar-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100%;
}
.navbar-icon {
    font-size: 28px;
    color: var(--not-selected);
}
.navbar-icon:hover {
    font-size: 28px;
    color: var(--white);
    transition: 0.5 ease;
}
.navbar-bugicon {
    padding: 6px 10px;
    border-radius: 25px;
    background: var(--purple);
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*====*/

.hidden {
    display: none;
}
.navbar-panel {
    height: 100vh;
    width: 250px;
    background-color: var(--menu-bg);
    border-radius: 0 10px 10px 0;
    padding-top: 10vh;
    color : red;
}
.no-border-radius {
    border-radius: 0 !important; 
}
.navbar-icon.active {
    color: var(--white); 
}
.navbar-panel-buttons {
    height: 100vh;
    width: 250px;
    background-color: var(--menu-bg);
    border-radius: 0 10px 10px 0;
    padding-top: 2vh;
}

/* Image Preview */

.ImagePreview{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the space between images */
}

.image-preview img {
    width: 100px; /* Width of the image */
    height: 100px; /* Height of the image */
    object-fit: cover; /* Ensures the image covers the area, might crop */
    border-radius: 4px; /* Optional: Rounds corners of the image */
}