.navbar-wrapper {
  display: flex;
}
.navbar-wrapper-main {
  height: 100vh;
  width: 60px;
  background-color: var(--menu-bg);
  border-radius: 0 10px 10px 0;
  padding: 25px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.navbar-home-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
}
.navbar-icon {
  font-size: 28px;
  color: var(--not-selected);
}
.navbar-icon:hover {
  font-size: 28px;
  color: var(--white);
  transition: 0.5 ease;
}
.navbar-bugicon {
  padding: 6px 10px;
  border-radius: 25px;
  background: var(--purple);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*====*/

.hidden {
  display: none;
}
.navbar-panel {
  height: 100vh;
  width: 250px;
  background-color: var(--menu-bg);
  border-radius: 0 10px 10px 0;
  padding: 30px 0px 30px 8px;
  color: red;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.no-border-radius {
  border-radius: 0 !important;
}
.navbar-icon.active {
  color: var(--white);
}
.navbar-panel-buttons {
  height: 100vh;
  width: 250px;
  background-color: var(--menu-bg);
  border-radius: 0 10px 10px 0;
  padding-top: 2vh;
}

/* Image Preview */

.ImagePreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the space between images */
  overflow: auto;
  padding-right: 10px;
}
/* Track */
.ImagePreview::-webkit-scrollbar-track {
  background-color: #f5f5f585;
  border-radius: 20px;
}

/* Handle */
.ImagePreview::-webkit-scrollbar-thumb {
  background-color: #555;
  height: 50px;
  border-radius: 20px;
  margin-left: 5px;
}

/* Handle on hover */
.ImagePreview::-webkit-scrollbar-thumb:hover {
  background-color: var(--not-selected);
}

/* The scrollbar itself */
.ImagePreview::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

.image-preview img {
  width: 105px; /* Width of the image */
  height: 105px; /* Height of the image */
  object-fit: cover; /* Ensures the image covers the area, might crop */
  border-radius: 4px; /* Optional: Rounds corners of the image */
}
.image-preview img:hover {
  cursor: pointer;
}
/*== ASSET PANEL ==*/
.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  padding-right: 8px;
}
.upload-btn {
  display: flex;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 6.128px;
  border-radius: 20px;
  background: var(--main-color);
  border: none;
  color: var(--white);
  text-align: center;
  font-family: var(--inter);
  font-size: 14px;
  font-weight: 500;
  width: 90px;
}
.upload-btn:hover {
  background-color: #5b0097;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  display: flex;
  padding: 8px 15px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  border-radius: 20px;
  background: var(--dark-grey);
  border: none;
  color: var(--text-editor);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  width: 120px;
}

.dropdown-button:hover {
  background-color: #293445;
  cursor: pointer;
}

.dropdown-options {
  display: block;
  position: absolute;
  background: var(--dark-grey);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 120px;
}

.dropdown-option {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--text-editor);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.dropdown-option:hover {
  background-color: #293445;
  cursor: pointer;
}
.dropdown-button.open {
  border-radius: 20px 20px 0 0; /* Angles arrondis en haut */
}

.dropdown-options.open {
  border-radius: 0 0 20px 20px; /* Angles arrondis en bas */
  overflow: hidden; /* Assure que les options à l'intérieur respectent le bord arrondi */
}

.bi-caret-down.rotate {
  transform: rotate(180deg); /* Fait tourner l'icône à 180° */
}

.photo-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px; /* Ajustez selon l'espacement souhaité */
}

.photo-square {
  width: 100px; /* Taille du carré */
  height: 100px; /* Hauteur égale à la largeur pour un vrai carré */
  background-color: white; /* Fond blanc */
  border: 1px solid #ddd; /* Bordure subtile (optionnel) */
}


.image-used {
  opacity: 0.5;
  pointer-events: none; /* Disable clicking on used images */
}

.panel-toggle-wrapper{
  z-index: 9999;
  display: flex;
  top: 50%;
  right: -25px;
  position: absolute;
}
.panel-toggle-btn {
  color: var(--white);
  padding: 10px 7px 10px 3px;
  background-color: var(--menu-bg);
  border-radius: 0px 10px 10px 0px;
  transform: translateY(-2px);
  cursor: pointer;
}

.sidebar {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--menu-bg);
  gap: 0;
  transition: left 1s ease-in-out; /* Applies a smooth transition on the 'left' property */
}

.sidebar-collapsed {
  left: -536px; /* Hides the sidebar by moving it to the left */
}

.assets-dragdrop {
  display: flex;
flex-direction: column;
margin: 10px 8px;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
border: 1px dashed var(--text-editor);
color: var(--text-editor);
text-align: center;
font-family: Outfit;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 18px */
}
.assets-dragdrop i {
  font-size: 20px;
}

