.rightbar-wrapper {
    height: 100vh;
    min-width: 250px;
    background-color: var(--menu-bg);
    border-radius: 10px 0 0 10px;

}

.style-wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 10px;
    gap: 15px;
}
.parameters-wrapper,
.parameters-wrapper-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.parameters-wrapper-title {
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}
.parameters-content-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}
.parameters-content-line-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}
.parameters-content-line-item {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    color: var(--not-selected);
}
.parameters-content-line-separation {
    height: 15px;
    width: 2px;
    background: var(--not-selected);
    border: 1px var(--not-selected);
}
.parameters-content-line-item:hover {
    color: var(--white);
}
.parameters-wrapper-title-box,
.parameters-content-line-title {
    font-family: var(--inter);
    font-size: 11.5px;
    font-weight: 500;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.parameters-wrapper-title-box:hover {
    cursor: pointer;
}
.parameters-wrapper-separation {
    width: 100%;
    height: 2px;
    background: var(--not-selected);
    border: 1px var(--not-selected);
}
.parameters-wrapper-content.hide {
    display: none;
}
.parameters-wrapper-title-box i {
    transition: transform 0.3s ease;
}
.rotate {
    transform: rotate(180deg);
}
.parameters-wrapper-content {
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    max-height: 0;
}

.parameters-wrapper-content.open {
    max-height: 500px; /* Ajustez cette valeur en fonction de la hauteur maximale attendue du contenu. */
}

.selected {
    color: white;
  }