@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');

:root {

    /*========== Color ==========*/
    --menu-bg: #131313;
    --not-selected: #64748B;
    --white: #ffffff;
    --main-color: #5956E8;
    --purple: #9600FA;
    --text-editor: #CBD5E1;
    --item-selected: #217BF4;
    --dark-grey: #334155;

    /*========== Font family ==========*/
    --inter: 'Inter', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}