@import './PortfolioVariables.css';

.portfolio-about {
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
    padding: var(--base-padding);
    text-align: left;
    border-radius: var(--border-radius);
    margin: 20px auto;
    max-width: 800px;
  }

  .portfolio-about h2 {
    font-size: 50px;
    font-family: Poppins, sans-serif;
    font-weight: 200;
  }

  .portfolio-about span{
    color: #7127BA;
  }

  .portfolio-about p {
    font-family: Inter, 'sans-serif';
    font-size: 22px;
  }


.portfolio-about-text{
  margin-top: 50px;
}