@import './PortfolioVariables.css';

.portfolio-header {
    background-color: var(--headerContent-background-color);
    color: var(--text-color-primary);
    padding: 40px 20px;
    text-align: center;
    font-family: var(--font-primary);
}
  
.PortfolioNavbar {
    padding: 20px;
    background-color:var(--PortfolioNavbar-background-color);
    justify-content: space-around;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
  
.PortfolioNavbar ul {
    list-style: none;
    padding: 0;
}
  
.PortfolioNavbar ul li {
    display: inline;
}
  
.nav-item-button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px; /* Define padding */
}

.nav-item-button:hover {
    color: var(--text-color-secondary);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

.meSection {
    display: flex;
    justify-content: center;
    margin-bottom: -100px;
}

.meSection h1 {
    font-size: 19px;
    margin-top: 1.5%;
    font-family: var(--font-primary);
    font-weight: 400;
}

.nameSpan {
    color: #7127BA;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.start {
    text-decoration: underline;
    font-size: 17px;
    font-family: var (--font-secondary);
}

.mid {
    font-size: 50px;
    display: flex;
    align-items: flex-start;    
    gap: 10px;
    font-family: var(--font-primary);
}

.end {
    font-size: 11px;
    font-family: var(--font-secondary);
}
