/* Ensure to import the Liga font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liga:wght@300;400;600;700&display=swap');

.purple {
  color: rgba(77, 47, 140, 1);
}

.dashboard-page-content-view-more {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  gap: 3.241px;
  border-radius: 5px;
  border: 1px solid var(--not-selected, #64748b);
  background: var(--white);
  color: var(--not-selected);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Liga;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.dashboard-billing-plans {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  width: 100%;
}

.dashboard-billing-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  align-self: stretch;
}

.dashboard-billing-header-warning {
  color: red;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding-right: 15px;
}

.dashboard-billing-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

.dashboard-billing-left h2 {
  color: var(--black, #131313);
  font-family: var(--montserrat);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.dashboard-billing-left p {
  color: var(--black, #131313);
  font-family: var(--montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 157.4%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+label {
  background-color: #2196f3;
}

input:focus+label {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+label:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* ====BILLING PLANS CARD==== */

.dashboard-billing-plans-container {
  display: flex;
  align-items: stretch;
  gap: 24.1px;
  flex-wrap: wrap;
  width: 100%;
}

.dashboard-billing-plans-box {
  display: flex;
  padding: 40.167px 24.1px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40.167px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.05);
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 220px;
}

.dashboard-billing-plans-box-purple {
  background: var(--purple);
}

.dashboard-billing-plans-box-purple button {
  background: rgba(77, 47, 140, 1);
}

.dashboard-billing-plans-box-purple button:hover {
  cursor: not-allowed;
  background: rgba(77, 47, 140, 1);
}

.dashboard-billing-plans-box-row {
  display: flex;
  align-items: stretch;
  gap: 24.1px;
  flex-wrap: nowrap;
}

.dashboard-billing-plans-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.dashboard-billing-plans-box-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
}

.dashboard-billing-plans-box-more {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.dashboard-billing-plans-cta-more {
  color: var(--purple, #9600fa);
  font-family: var(--montserrat);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: 0.852px solid var(--purple, #9600fa);
  text-align: left;
}

.dashboard-billing-plans-cta-more-soon {
  color: var(--not-selected);
  border-bottom: 0.852px solid var(--not-selected);
  cursor: not-allowed;
}

.dashboard-billing-plans-box-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20.083px;
  align-self: stretch;
}

.dashboard-billing-plans-box-header-title {
  color: var(--black, #131313);
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  text-align: left;
}

.dashboard-billing-plans-box-header-title-white {
  color: var(--white);
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  text-align: left;
}

.dashboard-billing-plans-price {
  display: flex;
  align-items: center;
  gap: 4.017px;
  align-self: stretch;
}

.dashboard-billing-plans-price img {
  max-width: 30px;
}

.dashboard-billing-plans-price-tag {
  color: var(--black, #131313);
  font-family: var(--montserrat);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dashboard-billing-plans-price-tag-white {
  color: var(--white);
  font-family: var(--montserrat);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dashboard-billing-plans-price-label {
  color: var(--black, #131313);
  font-family: var(--montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.dashboard-billing-plans-price-label-white {
  color: var(--white);
  font-family: var(--montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.dashboard-billing-plans-cta {
  border-radius: 15.273px;
  border: 1.215px solid #9542ff;
  background: #9542ff;
  display: flex;
  height: 35.65px;
  padding: 4.861px 9.723px;
  justify-content: center;
  align-items: center;
  gap: 3.241px;
  color: var(--white, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
}

.dashboard-billing-plans-cta-diasbled {
  cursor: not-allowed;
  background-color: var(--not-selected);
  border: 1.215px solid var(--not-selected);
}

.dashboard-billing-plans-box-features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12.05px;
  align-self: stretch;
}

.dashboard-billing-plans-feature {
  display: flex;
  align-items: center;
  gap: 17.071px;
  align-self: stretch;
}

.check-icon {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8.033px;
  border-radius: 100.417px;
  background: rgba(255, 255, 255, 0.6);
  color: var(--purple);
}

.cross-icon {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8.033px;
  border-radius: 100.417px;
  background: rgba(19, 19, 19, 0.2);
  color: var(--white);
}

.check-text {
  color: var(--black, #131313);
  font-family: var(--montserrat);
  font-size: 16.067px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cross-text {
  color: #a0abbb;
  font-family: var(--montserrat);
  font-size: 16.067px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.check-icon-purplecard {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8.033px;
  border-radius: 100.417px;
  background: var(--white);
  color: var(--purple);
}

.cross-icon-purplecard {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8.033px;
  border-radius: 100.417px;
  background: rgba(255, 255, 255, 0.5);
  color: var(--white);
}

.check-text-purplecard {
  color: var(--white);
  font-family: var(--montserrat);
  font-size: 16.067px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cross-text-purplecard {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--montserrat);
  font-size: 16.067px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dashboard-billing-plans-feature-or {
  color: var(--black, #131313);
  font-family: var(--montserrat);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dashboard-billing-plans-box-features-column {
  gap: 5px;
  align-items: center;
}

@media only screen and (min-width: 961px) and (max-width: 1264px) {
  .dashboard-billing-plans-box-more {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .dashboard-billing-plans-box-left {
    flex-direction: row;
  }
}

/* ====STUDENT PLANS CARD==== */

.dashboard-billing-plans-student {
  display: flex;
  padding: 40.167px 24.1px;
  flex-direction: row;
  align-items: center;
  gap: 40.167px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.05);
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 220px;
  justify-content: space-between;
  width: 100%;
}

.dashboard-billing-plans-student-text {
  color: var(--black, #131313);
  font-family: var(--montserrat);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 157.4%;
}

/* COMPARISON TABLE */

.compare-pricing-title {
  color: var(--black, #131313);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  margin: 30px;
}

.compare-pricing-description {
  color: var(--black, #131313);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  line-height: 110%;
  margin: 30px;
  margin-top: -15px;
}

.dashboard-pricing-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin: 30px;
}

.comparison-table {
  width: 100%;
}

.table-container {
  overflow: hidden;
  border-radius: 50px;
  width: 100%;
  margin-top: 20px;
}

.comparison-table-head th {
  text-align: start;
  padding: 20px;
  background-color: #f4f4f4;
  color: var(--black, #131313);
  font-family: 'Nunito', sans-serif;
  font-size: 18px; /* Reduced from 35px */
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  border-radius: 8.152px;
  border-right: 1.019px solid #E4E4E7;
  border-bottom: 1.019px solid #E4E4E7;
  border-left: 1.019px solid #E4E4E7;
  border-top: 2.038px solid var(--light-purple, #B6B2FF);
  background: #FFF;

}
.table-margin-columns {
  border-collapse: separate;
  border-spacing: 34px; /* Adjust the spacing value as needed */
}

.comparison-table-pricing {
  color: var(--black, #030014);
  font-family: Inter;
  font-size: 12.228px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  padding: 40.759px 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.comparison-table-pricing-solution-price {
  color: var(--black, #030014);
  font-family: Inter;
  font-size: 32.607px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}

.comparison-table-body td {
  text-align: left;
  padding: 10px;
  color: var(--purple, #4D2F8C);
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.category-row td {
  font-weight: bold;
  padding-left: 30px;
  border-radius: 8.152px;
  background: #E4E4E7;
  color: var(--black, #030014);
  font-family: Inter;
  font-size: 20.38px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}

.features-checkers td {
  text-align: center;
  color: #71717A;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  padding: 16.304px 12.228px;
}

.features-checkers td i {
  font-size: x-large;
}

.features-checkers .feature-name-title {
  text-align: start;
  padding-left: 30px;
  color: var(--black, #030014);
  font-family: Inter;
  font-size: 16.304px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

.dashboard-billing-plans-cta:hover {
  background-color: rgba(77, 47, 140, 1);
}

.features-checker-more-info i {
  font-size: 14px !important;
  background-color: rgba(206, 206, 206, 1);
  border-radius: 5000px;
  color: var(--white);
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-container p {
  color: var(--purple, #4D2F8C);
  font-family: Inter;
  font-size: 12.228px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-right: 10px;
}

.toggle-container span {
  color: var(--purple, #4D2F8C);
  font-family: Inter;
  font-size: 12.228px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.toggle-switch {
  display: flex;
  border: 2px solid #d3c6f3;
  border-radius: 30px;
  overflow: hidden;
  align-items: center;
  color: var(--light-purple, #B6B2FF);
  font-family: Inter;
  font-size: 14.266px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
}

.toggle-option {
  flex: 1;
  text-align: center;
  padding: 8.152px 16.304px;
  cursor: pointer;
  font-weight: bold;
  color: #b3a2db;
  margin: 4px;
}

.toggle-option.toggle-selected {
  background-color: #6a3da7;
  color: white;
  border-radius: 25px;
  margin: 4px;
  padding: 8.152px 16.304px;
}

.toggle-option.toggle-unselected {
  background-color: #ffffff;
}

.compare-pricing-header {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

.bashboard-billing-plans-container-columns {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 400px;
}

.transactions-history-button {
  display: flex;
  height: 41px;
  padding: 4.861px 15px;
  justify-content: center;
  align-items: center;
  gap: 3.241px;
  color: rgba(77, 47, 140, 1);
  border-radius: 10px;
  border: 1.215px solid rgba(77, 47, 140, 1);
  cursor: pointer;
}

.transactions-history-button p {
  text-align: center;
  font-family: Liga;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dashboard-billing-comparison-table-plans-cta {
  display: flex;
  padding: 12.228px 20.38px;
  justify-content: center;
  align-items: center;
  gap: 10.19px;
  align-self: stretch;
  border-radius: 4.076px;
  background: #4D2F8C;
  color: #FFF;
  font-family: Inter;
  font-size: 16.304px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  border: none;
}
