.Dahsboard_Wrapper{
    display: flex;
    color: black;
  }
  
  .Dashboard_Column{
    width: 100%;
    background-color: white;
  }
  
  .RecentlyViewed  {
    display: flex;
    padding: 5vh;
    flex-direction: row;
  }

  .recentlyviewed_element_top{
    display: flex;
  } 
  
  
  .recentlyviewed_element_bottom{
    display: flex;
  }

  .recentlyviewed_element{
    display: flex;
    flex-direction: column;
    padding: 5vh;
  }

  .Projectlists{
    display: flex;
    flex-direction: row;
    justify-content: space-around
  }

  .Projectlists_element_bt{
    display: flex;
  }

  .Projectlists_element_top{
    display: flex;
  }
