.leftbar_wrapper{
    display: flex;
    background-color: #131313;
    flex-direction: column;
    color: white;
    width: 20%;
    height: 100vh;
    justify-content: space-between
}

.Profil_Display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    align-items: center
}

.Dashboard_Menu{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Dashboard_Menu_element,
.footer_element{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding-top: 2vh;

}
.Dashboard_Menu_element i,
.footer_element i {
    padding-right: 2vw;
}
.footer_leftbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_content {
    height: 20vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;    
}
.footer_element{
    display: flex;
}