/*==================== GET IN TOUCH ====================*/
.getintouch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }
  .getintouch-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://firebasestorage.googleapis.com/v0/b/third--space.appspot.com/o/ImageWebSite%2Fgetintouch-bg.png?alt=media&token=7aed8b7e-34d2-4401-80df-8885f3e9e23a');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 15px;
    border-radius: 50px;
    padding: 50px;
  
  }
  .getintouch-content h2 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 3vw;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 55px */
  }
  .getintouch-content p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 157.4%; /* 34.628px */
  
  }
  .getintouch-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
  }
  .getintouch-socials a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--purple, #9600FA);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 30px;
    border-radius: 28px;
    background: #FFF;
    text-align: center;
  }
  .getintouch-socials a img {
    max-width: 20px;
  }
  
  @media screen and (max-width: 850px) {
    .getintouch-content h2 {
      font-size: 4vw;
    }
    .getintouch-content p {
      font-size: 16px;
    }
    .getintouch-content {
      padding: 25px;
    }
  }
  @media screen and (max-width: 550px) {
    .getintouch-socials {
      flex-direction: column;
    }
    .getintouch-content h2 {
      font-size: 25px;
    }
  }