/*==================== ROADMAP ====================*/
.roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }
  .roadmap-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 25px;
  }
  .roadmap-content-row {
    display: flex;
    gap: 15px;
    align-items: flex-end;
  }
  .roadmap-dot {
    border-radius: 12px;
    border: 4px solid var(--purple, #9600FA);
    background: #ECEEF0;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .roadmap-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .roadmap-label {
    color: #FFF;
    font-family: var(--inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.8px; /* 140% */
    border-radius: 8px;
    background: var(--purple, #9600FA);
    padding: 4px 8px;
  }
  .roadmap-feature {
    color: #E2E0FE;
    font-family: var(--inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
  }
  .roadmap-separator {
    width: 4px;
    height: 800px;
    border: 2px solid var(--purple, #9600FA);
    background: #ECEEF0;
    position: absolute;
    z-index: -1;
    left: 10px;
    top: 80px;
    border-radius: 4px;
  }
  @media screen and (max-width: 450px) {
    .roadmap-content {
      scale: 0.8;
      padding-top: 0px;
    }
    .roadmap-feature {
      font-size: 20px;
    }
    .roadmap {
      padding-bottom: 40px;
    }
    .roadmap-separator {
      top: 69px;
    }
  }