.templatebody{
    width: 100%;
    overflow: auto;
}
.hero-section-1{
    background-color:rgb(240, 240, 240) ;
    display: flex;
    align-items: center
}

.trust-section-1{
    display: flex;
    flex-direction: column;
}
.trust-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.trust-points{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;

}

.trust-point{
    display: flex;
    width: 400px !important;
    align-items: center;
}
.trust-point img{
    margin-right: 25px;
}


.images-trust{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.images-trust img{
    margin: 20px;
}
.image-de-merde{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.faq-content{
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
}