/* EditableButton.css */
.editable-button {
    display: inline-block;
    background-color: inherit;
    color: inherit;
    padding: 10px; /* Define specific padding */
    cursor: pointer;
    width: 150px; /* Define fixed width */
    height: 40px; /* Define fixed height */
    text-align: center;
}

.editable-button:hover {
    background-color: #e1e1e1;
}





.editable-button-textarea {
    width: 150px; /* Match the button's width */
    max-height: 40px; /* Match the button's height */
    padding: 4px; /* Match the button's padding */
    resize: none; /* Disables resizing */
    scrollbar-width: none; /* Hide scrollbar */
    display: flex;
    align-items: center;
    background-color: inherit; /* Ensure background matches */
    color: inherit; /* Ensure text color matches */
    align-content: center;
    z-index: 1; /* Add this to make sure the textarea is above the button */
    text-align: center;
    justify-content: center;
    position: absolute;
}

.editable-button.error, .editable-button-textarea.error {
    border-color: red; /* Consistent error indication */
    background-color: #ffe6e6; /* Light red background for error state */
}


.hidden-text-measure {
    font-family: inherit; 
    font-size: inherit;
    padding: inherit;
    border: none;
}

.link-settings-modal {
    color: white;
    font-family: outfit;
    position: relative; /* Use fixed to position relative to the viewport */
    background-color: #292929;
    border: 1px solid black;
    padding: 10px;
    width: 300px; /* Adjust width as necessary */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
}

.link-settings-content{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.link-close-button {
    position: relative;
    top: 0;
    right: 1;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    color: inherit;
}

.edit-link-button {
    margin-top: 10px;
    color: white;
    background-color: #7214ff;
    font-family: Inter;
    padding: 3px 10px 3px 10px ;
    border-radius: 8px;
    position: relative;
    top: 40px;
    z-index: 2; /* Add this to make sure the button is above the textarea */
    border: none;
  }
  



/* Additional styles for checkbox and inputs within modal */
input[type="checkbox"] {
margin-right: 10px;
margin-left: 30px;

}

.link-settings-target-chooser{
display: flex;
justify-content: center;

}

.link-title{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}