/* editableText.css */

.editable-text-input,
.editable-text-span {
  /* border: 2px solid transparent; Change the border color to transparent */
  /* padding: 2px 4px; */
  border-radius: 3px;
  background-color: inherit;
  color: inherit;
}

/* editableText.css */

.editable-text-input:focus, .editable-text-input.active, .editable-text-input:hover {
  background-color: red;  /* light blue background to indicate focus or hover */
  outline: 2px solid #217bf4;   /* blue border to indicate focus or selection */
  cursor: text;                /* cursor changes to indicate editable */
}

.editable-text-span:hover, .editable-text-span.active {
  /* background-color: aliceblue;  light blue background for hover */
  outline: 2px solid #217bf4;   /* blue border for hover */
  cursor: pointer;             /* cursor changes to indicate it's clickable */
}

/* ... other styles */


.editable-text-input.error {
  border-color: red;
}
