/* EditableButton.css */
.editable-button {
    display: inline-block;
    background-color: inherit;
    color: inherit;
    padding: 10px;
    cursor: pointer;
    height: 40px;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
    white-space: nowrap; /* Prevent text wrapping */
}

.editable-button:hover {
    outline: 2px solid #217bf4;
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.editable-button-textarea {
    min-width: 150px;
    max-height: 40px;
    padding: 4px;
    resize: none;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    background-color: inherit;
    color: inherit;
    z-index: 1;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.editable-button.error, .editable-button-textarea.error {
    border-color: red;
}

.hidden-text-measure {
    font-family: inherit; 
    font-size: inherit;
    padding: 10px;
    border: none;
    display: inline-block;
    visibility: hidden; /* Hide the element */
    white-space: nowrap;
}



.link-settings-modal {
    color: white;
    font-family: outfit;
    background-color: #292929;
    padding: 10px;
    padding-top: 5px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -45%;
    top: 50px;
}

.link-settings-content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link-close-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    color: var(--white);
    font-size: 20px;
}

.edit-link-button {
    margin-top: 10px;
    color: white;
    background-color: #7214ff;
    font-family: Inter;
    padding: 3px 10px;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    z-index: 2;
    border: none;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100px;
}

input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 30px;
}

.link-settings-target-chooser {
    display: flex;
    justify-content: center;
}

.link-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}