/* editableText.css */

.editable-text-input,
.editable-text-span {
  border: 2px solid transparent; /* Change the border color to transparent */
  padding: 2px 4px;
  border-radius: 3px;
  background-color: inherit;
  color: inherit;
}

/* editableText.css */

.editable-text-input:hover,
.editable-text-input:focus-within,
.editable-text-input.active,
.editable-text-span:hover,
.editable-text-span.active,
.editable-text-input:focus {

  border: 2px solid #217bf4;
  cursor: pointer;
}

/* ... other styles */


.editable-text-input.error {
  border-color: red;
}
