.image-container {
    position: relative;
  }
  
  .image-component {
    display: block;
    width: 100px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    object-fit: contain;
  }
  
  
  .image-component:hover {
    border: 2px solid #217bf4;
    cursor: pointer;
  }
  
  .image-component:focus-within {
    border: 2px solid #217bf4;
    cursor: pointer;
  }
  
  .popup-button {
    align-items: center;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    bottom: -10px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: var(--inter);
    font-size: 12px;
    gap: 5px;
    left: 50%;
    bottom: -50px;
    opacity: 1;
    padding: 5px 10px;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity .3s ease;
}
  
  .image-component:focus-within + .popup-button {
    opacity: 1;
  }
  